.details-intro {
    width: 100%;
    height: 70vh;
    max-height: 650px;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    background-position: 0 40%;
    max-width: 1540px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .detail-0ne-intro {
    max-width: 1540px;
    margin: 0 auto;
  }
  
  .details-intro-div {
    background: rgba(0,0,0,.5);
    color: #fff;
    padding: 32px 96px;
    text-align: center;
    margin-top: 50px;
    letter-spacing: 3px;
  }
  
  .details-intro-div h1 {
    line-height: 1;
    margin: 0 0 32px 0;
    font-size: 64px;
  }
  
  .details-intro-div div {
    width: 160px;
    height: 5px;
    background: #af9a7d;
    margin: 27.2px auto;
  }
  
  .details-intro-div button {
    font-size: 17px;
    padding: 8px 13px;
    text-decoration: none;
    letter-spacing: 3px;
    color: #222;
    background: #af9a7d;
    border: 3px solid #af9a7d;
    transition: all .3s linear;
    text-transform: uppercase;
    cursor: pointer;
  }
  
  .details-intro-div button:hover {
    background: transparent;
    color: #af9a7d;
  }
  
  .details {
    padding: 80px 180px 0 180px;
  }
  
  .details-div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 50px;
  }
  
  .details-div div img {
    width: 100%;
  }
  
  .infomation {
    padding: 0 180px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 2rem;
    margin: 32px 0;
  }
  
  .infomation div {
    margin: 16px 0;
  }
  
  .infomation h2 {
    margin: 0 0 24px 0;
    font-size: 24px;
  }
  
  .infomation p {
    color: #222;
    line-height: 1.5;
    font-size: 15.7px;
  }
  
  .infomation div:last-child p {
    margin: 0 0 24px 0;
    letter-spacing: 3px;
    font-weight: 300;
  }
  
  .infomation div:last-child {
    padding: 0 0 0 48px;
  }
  
  .extras {
    padding: 0 180px 48px 180px;
  }
  
  .extras h1 {
    font-size: 16px;
    margin: 0 0 24px 0;
    letter-spacing: 3px;
  }
  
  .extras p {
    font-size: 16px;
    margin: 0 0 16px 0;
  }
  
  .list div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 2rem;
    margin: 27px 0;
  }
  @media screen and (max-width: 1230px) {
    .details {
      padding: 80px 32px 0 32px;
    }
    .infomation {
      padding: 0 32px;
    }
    .extras {
      padding: 0 32px 48px 32px;
    }
  }
  @media screen and (max-width: 1110px) {
    .details-div {
      grid-template-columns: 1fr 1fr;
    }
    .list div {
      grid-template-columns: 1fr 1fr;
    }
  }
  @media screen and (max-width: 990px) {
    .details-intro-div {
      padding: 32px 48px;
    }
    .details-intro-div h1 {
      margin: 0 0 24px 0;
      font-size: 48px;
    }
    .details-div {
      max-width: 793px;
      margin: 0 auto;
    }
    .infomation {
      grid-template-columns: 1fr;
      max-width: 793px;
      margin: 0 auto;
    }
    .infomation p {
      font-size: 16px;
    }
    .infomation div:last-child {
      padding: 0;
    }
    .extras {
      max-width: 793px;
      margin: 0 auto;
    }
  }
  @media screen and (max-width: 930px) {
    .details-div {
      grid-template-columns: 1fr;
    }
  }
  @media screen and (max-width: 865px) {
    .list div {
      grid-template-columns: 1fr;
    }
  }
  @media screen and (max-width: 830px) {
    .details-intro {
      background-position-x: 50%;
    background-position-y: center;
    }
  }
  @media screen and (max-width: 575px) {
    .details-intro-div {
      padding: 32px 16px;
    }
    .details-intro-div h1 {
      margin: 0 0 20px 0;
      font-size: 40px;
    }
  }
  @media screen and (max-width: 410px) {
    .details-intro-div {
      padding: 32px 16px;
    }
    .details-intro-div h1 {
      margin: 0 0 20px 0;
      font-size: 25px;
    }
    .details-intro-div div {
      width: 120px;
      margin: 15px auto;
    }
    .extras p {
      font-size: 14px;
    }
    .details-intro-div button {
      font-size: 14px;
      padding: 8px 10px 6px 10px;
    }
  }