.room-component-one {
    background-image: url("../public/images/rooms-bg-1.jpeg");
    width: 100%;
    height: 70vh;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    background-position: 0 40%;
    max-width: 1540px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .search {
    padding: 80px 180px;
    max-width: 1540px;
    margin: 0 auto;
  }

  .search .line {
    margin: 0 auto 34px auto;
  }

  .search h2 {
    text-align: center;
  }

  .searcher {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 80px;
  }

  .block {
    display: flex;
    flex-direction: column;
    letter-spacing: 3px;
    font-size: 16px;
    width: 202px;
    margin-top: 30px;
  }

  .block input, .block select {
    width: 100%;
    margin: 8px 0 0 0;
    height: 21.2px;
  }

  .size {
    display: flex;
    flex-direction: column;
    letter-spacing: 3px;
    font-size: 16px;
    width: 202px;
    margin-top: 30px;
  }

  .size div {
    display: flex;
    justify-content: space-between;
  }

  .size input {
    width: 48%;
    margin: 8px 0 0 0;
    border-radius: 5px;
    height: 21.2px;
  }

  .check {
    width: 202px;
    margin-top: 30px;
  }

  label {
    display: flex;
    margin-bottom: -10px;
  }

  .check p {
    margin: 0 0 0 8px;
    font-size: 12.8px;
    letter-spacing: 3px;
  }